@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@keyframes progress-stripes {
  0% {
    background-position: 2rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

.animate-progress-stripes {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1.5rem 1.5rem;
  animation: progress-stripes 1s linear infinite;
}
